/*  headers: font-family: 'Playfair Display', serif;
main text: font-family: 'Raleway', sans-serif; 

d5bdaf
green : a3b18a
pink : f3dad8
dark pink: c78283
dark brown: a27965
*/

h1 {
    font-family: 'Playfair Display', serif; 
    font-size: 6vh;
}
p {
    font-family: 'Raleway', sans-serif;
    font-size: 2vh;
}

#top-container {
    display: flex;
    justify-content: left;
    background: url(./assets/topcontainer.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:0px 0px; 
    height: 100vh; 
}
.container1 {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 1fr; 
}
#name {
    grid-area: 2 / 1 / 3 / 3;
    text-align: left;
    color: #84997c;
    margin: 50px;  
}
#hero {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 5;
    margin: 50px;
    color: #8c6c5f;
    font-weight: bold;
    align-self: start;
    margin-top: 0;
}

#second-container {
    display: flex;
    justify-content: left;
    background-color: white;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:0px 0px;  
    
     }

.container2 {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 50px, 100px;
    justify-content: center;
}
#teacher {
    grid-area: 1 / 1;
    margin: 25px;
    
}
#apple {
    grid-row-start: 1;
    grid-column-start: 2;
    margin-top: 50px;
    justify-self: start;
    margin-top: 25px;
}
#teacher-info {
    grid-area: 2 / 1 / 4 / 3;
    margin-left: 25px;
    
}

#third-container {
    display: flex;
    justify-content: center;
    background-color: white;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:0px 0px;  
    
     }

#learner {
    color: #b2b59d;
    grid-area: 1 / 3;
    margin: 25px;
    
}
#cogs {
    grid-area: 1 / 4 ;
    justify-self: start;
    margin-top: 30px;
}

#learner-info {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 5;
}


#fourth-container {
    display: flex;
    justify-content: center;
    background-color: white;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:0px 0px;  
    
     }

