/*  headers: font-family: 'Playfair Display', serif;
main text: font-family: 'Raleway', sans-serif; */

h1 {
    font-family: 'Playfair Display', serif; 
    font-size: 2rem;
}

#top-container {
    display: flex;
    justify-content: center;
    background: url(./assets/topcontainer.png);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:0px 0px; 
    height: 100vh; 
     }

.container1 {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(5, 200px); 
}

.name {
    grid-area: 2 / 1 / 3 / 3;
    text-align: left;
    color: white;
    
}

.photo1 {

}

@media screen (max-width: 800px){
    #top-container { 
        width: 100%; }
    h1 {
        font-size: 1rem;
    }
}
